.input {
    display: flex;
    position: relative;
}

.search {
    font-size: 1.1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0;
    flex-grow: 2;
    display: block;
    
}

.search:focus {
    background-color: #ffd7ac;
}

.search:focus::placeholder {
    color: #1a2c33
}

.input::before {
    content: '';
    position: absolute;
    background-color: #FF8500;
    left: 0;
    right: 0;
    bottom: 0;
    width: 0%;
    height: 5px;
    transition: width .2s ease-in-out;
}

.input:focus-within::before {
    width: 100%;
    transition: width .4s ease-in-out;
}

.input-submit {
    display: inline;
    font-size: 1.1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0;
    flex: 2;
    position: relative;
    z-index: 2;
    max-width: 200px;
    background-color: #FF8500;
    color: white;
    cursor: pointer;
    transition: 
        letter-spacing .4s ease,
        background .3s ease,
        color .3s ease;
}

.input-submit:hover,
.input-submit:focus {
    /* margin-right: .3rem; */
    transition: letter-spacing .4s ease, 
        background .3s ease, 
        color .3s ease;
    background-color: #f8b56d;
    color: black;
    letter-spacing: 1px;
}

.input-submit:focus,
.search:focus {
    outline: none;
}